/* Footer */

.footer {
    margin-top: 40px;
    background-color: #1119;
    box-shadow: 0 0 15px #3338;
    color: #bbb;
}

.top__container {
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-evenly;
    border-bottom: 2px solid #222;
}


.footer__bottom {
    padding: 18px;
    margin-left: 8vw;
}

.footer a {
    color: #666;
    font-size: 0.8rem;
}
.container-img img{
    width: 128px;
    scale: 0.75;
    transition: scale 0.5s;
}

.container-img img:hover {
    scale: 0.85;
}

@media screen and (max-width: 767px) {
    /* mobile */
    .container-links h3 {
        font-size: 0.9rem;
    }
}